{% trans_default_domain 'FOSUserBundle' %}

<div class="row space50"></div>
<div class="row space50"></div>

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}

    {{ form_widget(form) }}
<div class="row space10"></div>
    <div>
        <input type="submit" class="btn btn-blue" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>

{{ form_end(form) }}

<div class="row space50"></div>
<div class="row space50"></div>
