{% extends 'base.html.twig' %}


{% block body %}

    <!-- Header -->
    <header id="header">
        <div class="container">
            <div class="row t-container">

                <!-- Logo -->
                <div class="span3">
                    <div class="logo">
                        <a href="{{ path('app_front_index') }}"><img src="img/logo-header.png" alt="Logo site web"></a>
                        <span class="text-muted">Trouvez la formation qui vous correspond !</span>
                    </div>
                </div>

                <div class="span9">
                    <div class="row space60"></div>
                    <nav id="nav" role="navigation">
                        <a href="#nav" title="Show navigation">Show navigation</a>
                        <a href="#" title="Hide navigation">Hide navigation</a>
                        <ul class="clearfix">
                            <li><a href="{{ path('app_front_index') }}" title="">ACCUEIL</a></li>
                            <li><a href="{{ path('app_front_etapeasuivre') }}" title="">ÉTAPE A SUIVRE</a></li>
                            <li class="active"><a href="gallery.htm" title="">LES FORMATIONS</a></li>
                            <li><a href="services.htm" title="">MES DOCUMENTS</a></li>
                            <li><a href="components.htm" title="">Features</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row space40"></div>
        </div>
    </header>

    <section id="titlebar">
        <!-- Container -->
        <div class="container">

            <div class="eight columns">
                <h1 class="text-center">LES FORMATIONS</h1>
            </div>

        </div>
        <!-- Container / End -->
    </section>

    <!-- Content -->
    <div id="content">
        <div class="container">


                <!--  etape une -->
                <div class="span12">
                    <h4>Toutes les formations que nous proposons</h4>

                    <!-- Typography Row -->
                    <div class="row t-row">
                        <!-- Line -->
                        <div class="span12"><hr></div>
                        <div class="span9">
                            <h3>Achat, Logistique et Transport</h3>
                            <div class="span4">
                                <ul class="list-b">
                                    <li><i class="icon-ok"></i>Achat</li>
                                    <li><i class="icon-ok"></i>Compétences en logistique</li>
                                    <li><i class="icon-ok"></i>Contrôle des transports et marchandises</li>
                                    <li><i class="icon-ok"></i>Import/Export/International</li>
                                    <li><i class="icon-ok"></i>Logistique/Métiers du Transport</li>
                                    <li><i class="icon-ok"></i>Métiers de la distribution – Management/Resp.</li>
                                    <li><i class="icon-ok"></i>Permis pour les véhicules spéciaux</li>
                                    <li><i class="icon-ok"></i>Permis voiture</li>
                                </ul>
                            </div>
                        </div>
                        <div class="space30 visible-phone"></div>
                        <!-- Line -->
                        <div class="span12"><hr></div>
                    </div>
                    <!-- Typography Row End -->

                </div>

                <div class="span12">
                    <!-- Typography Row -->
                    <div class="row t-row">
                        <!-- Line -->
                        <div class="span12"><hr></div>
                        <div class="span9">
                            <h3>Assistanat, Secrétariat, Support</h3>

                            <div class="span4">
                                <ul class="list-b">
                                    <li><i class="icon-ok"></i>Assistanat/Adm.ventes/Accueil</li>
                                    <li><i class="icon-ok"></i>Compétences administratives</li>
                                    <li><i class="icon-ok"></i>Compétences en secrétariat</li>
                                    <li><i class="icon-ok"></i>Gestion de la relation client</li>
                                    <li><i class="icon-ok"></i>SAV/Hotline/Téléconseiller</li>
                                </ul>
                            </div>

                        </div>
                        <div class="space30 visible-phone"></div>
                        <!-- Line -->
                        <div class="span12"><hr></div>
                    </div>
                    <!-- Typography Row End-->

                </div>

                <div class="span12">
                    <!-- Typography Row -->
                    <div class="row t-row">
                        <!-- Line -->
                        <div class="span12"><hr></div>
                        <div class="span9">
                            <h3>Banque Finance Assurance</h3>

                            <div class="span4">
                                <ul class="list-b">
                                    <li><i class="icon-ok"></i>Compétences bancaires</li>
                                    <li><i class="icon-ok"></i>Compétences financières</li>

                                </ul>
                            </div>

                        </div>
                        <div class="space30 visible-phone"></div>
                        <!-- Line -->
                        <div class="span12"><hr></div>
                    </div>
                    <!-- Typography Row End-->

                </div>

                <div class="span12">
                    <!-- Typography Row -->
                    <div class="row t-row">
                        <!-- Line -->
                        <div class="span12"><hr></div>
                        <div class="span9">
                            <h3>Bâtiments, Travaux</h3>

                            <div class="span4">
                                <ul class="list-b">
                                    <li><i class="icon-ok"></i>BTP – Gros Oeuvre/Second Oeuvre</li>
                                    <li><i class="icon-ok"></i>Bureau d’Etudes/R&D/BTP archi/conception</li>
                                    <li><i class="icon-ok"></i>Connaissance des processus du BTP</li>
                                    <li><i class="icon-ok"></i>Gestion des travaux et chantiers</li>
                                    <li><i class="icon-ok"></i>Maîtrise des matériaux et outils BTP</li>
                                    <li><i class="icon-ok"></i>Maîtrise des techniques de mesure et de calcul BTP</li>

                                </ul>
                            </div>

                        </div>
                        <div class="space30 visible-phone"></div>
                        <!-- Line -->
                        <div class="span12"><hr></div>
                    </div>
                    <!-- Typography Row End-->

                </div>

                <div class="span12">
                    <!-- Typography Row -->
                    <div class="row t-row">
                        <!-- Line -->
                        <div class="span12"><hr></div>
                        <div class="span9">
                            <h3>Bureautique</h3>

                            <div class="span4">
                                <ul class="list-b">
                                    <li><i class="icon-ok"></i>Logiciels bureautiques</li>
                                    <li><i class="icon-ok"></i>Tâches bureautiques</li>
                                </ul>
                            </div>

                        </div>
                        <div class="space30 visible-phone"></div>
                        <!-- Line -->
                        <div class="span12"><hr></div>
                    </div>
                    <!-- Typography Row End-->

                </div>

                <div class="span12">
                    <!-- Typography Row -->
                    <div class="row t-row">
                        <!-- Line -->
                        <div class="span12"><hr></div>
                        <div class="span9">
                            <h3>Commerce</h3>

                            <div class="span4">
                                <ul class="list-b">
                                    <li><i class="icon-ok"></i>Commercial – Technico-Commercial</li>
                                    <li><i class="icon-ok"></i>Commercial auprès des particuliers</li>
                                    <li><i class="icon-ok"></i>Commercial auprès des professionnels</li>
                                    <li><i class="icon-ok"></i>Commercial-Vendeur en magasin</li>
                                    <li><i class="icon-ok"></i>Compétences commerciales</li>
                                </ul>
                            </div>

                        </div>
                        <div class="space30 visible-phone"></div>
                        <!-- Line -->
                        <div class="span12"><hr></div>
                    </div>
                    <!-- Typography Row End-->

                </div>

                <div class="span12">
                    <!-- Typography Row -->
                    <div class="row t-row">
                        <!-- Line -->
                        <div class="span12"><hr></div>
                        <div class="span9">
                            <h3>Comptabilité Audit</h3>

                            <div class="span4">
                                <ul class="list-b">
                                    <li><i class="icon-ok"></i>Compétences comptables</li>
                                    <li><i class="icon-ok"></i>Compta/Gestion/Finance/Audit</li>
                                </ul>
                            </div>

                        </div>
                        <div class="space30 visible-phone"></div>
                        <!-- Line -->
                        <div class="span12"><hr></div>
                    </div>
                    <!-- Typography Row End-->

                </div>

                <div class="span12">
                    <!-- Typography Row -->
                    <div class="row t-row">
                        <!-- Line -->
                        <div class="span12"><hr></div>
                        <div class="span9">
                            <h3>Droit, Juridique</h3>

                            <div class="span4">
                                <ul class="list-b">
                                    <li><i class="icon-ok"></i>Compétences juridiques</li>
                                    <li><i class="icon-ok"></i>Juridique/Droit</li>
                                </ul>
                            </div>

                        </div>
                        <div class="space30 visible-phone"></div>
                        <!-- Line -->
                        <div class="span12"><hr></div>
                    </div>
                    <!-- Typography Row End-->

                </div>

                <div class="span12">
                    <!-- Typography Row -->
                    <div class="row t-row">
                        <!-- Line -->
                        <div class="span12"><hr></div>
                        <div class="span9">
                            <h3>Esthétique Cosmétique Coiffure</h3>

                            <div class="span4">
                                <ul class="list-b">
                                    <li><i class="icon-ok"></i>Compétences en esthétique et soin du corps</li>

                                </ul>
                            </div>

                        </div>
                        <div class="space30 visible-phone"></div>
                        <!-- Line -->
                        <div class="span12"><hr></div>
                    </div>
                    <!-- Typography Row End-->

                </div>


                <div class="span12">
                    <!-- Typography Row -->
                    <div class="row t-row">
                        <!-- Line -->
                        <div class="span12"><hr></div>
                        <div class="span9">
                            <h3>Fonction publique</h3>

                            <div class="span4">
                                <ul class="list-b">
                                    <li><i class="icon-ok"></i>Métiers de la Fonction Publique</li>

                                </ul>
                            </div>

                        </div>
                        <div class="space30 visible-phone"></div>
                        <!-- Line -->
                        <div class="span12"><hr></div>
                    </div>
                    <!-- Typography Row End-->

                </div>

                <div class="span12">
                    <!-- Typography Row -->
                    <div class="row t-row">
                        <!-- Line -->
                        <div class="span12"><hr></div>
                        <div class="span9">
                            <h3>Immobilier</h3>

                            <div class="span4">
                                <ul class="list-b">
                                    <li><i class="icon-ok"></i>Compétences en gestion immobilière</li>
                                    <li><i class="icon-ok"></i>Négociation/Gestion immobilière</li>

                                </ul>
                            </div>

                        </div>
                        <div class="space30 visible-phone"></div>
                        <!-- Line -->
                        <div class="span12"><hr></div>
                    </div>
                    <!-- Typography Row End-->

                </div>

                <div class="span12">
                    <!-- Typography Row -->
                    <div class="row t-row">
                        <!-- Line -->
                        <div class="span12"><hr></div>
                        <div class="span9">
                            <h3>Industrie Sciences et Techniques, Méthodes</h3>

                            <div class="span4">
                                <ul class="list-b">
                                    <li><i class="icon-ok"></i>Compétences en chimie</li>
                                    <li><i class="icon-ok"></i>Compétences R&D</li>
                                    <li><i class="icon-ok"></i>Gestion de la production et maintenance</li>
                                    <li><i class="icon-ok"></i>Gestion de la qualité</li>
                                    <li><i class="icon-ok"></i>Ingénierie – Electro-tech./Automat.</li>
                                    <li><i class="icon-ok"></i>Ingénierie – Mécanique/Aéron.</li>
                                    <li><i class="icon-ok"></i>Maîtrise des outils, technologies et composants en électronique-télécom</li>
                                    <li><i class="icon-ok"></i>Production – Gestion/Maintenance</li>
                                    <li><i class="icon-ok"></i>Production – Opérateur/Manoeuvre</li>
                                    <li><i class="icon-ok"></i>Savoir-faire lié à la production opérationnelle</li>
                                    <li><i class="icon-ok"></i>Tâches opérationnelles de mécanique-électronique-telecom</li>

                                </ul>
                            </div>

                        </div>
                        <div class="space30 visible-phone"></div>
                        <!-- Line -->
                        <div class="span12"><hr></div>
                    </div>
                    <!-- Typography Row End-->

                    <div class="row space10"></div>

                    <div class="row space50"></div>
                </div>






        </div>
    </div>
    <!-- Content End -->


{% endblock %}